body {
	background-color: #000;
	color: #888;
	font-family: Helvetica;
	line-height: 26px;
	margin: 0px;
	overflow: hidden;
}

h1 {
	color: #fff;
	margin: 8px;
}

a {
	color: #48f;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

#container {
	box-sizing: border-box;
	height: 100%;
	left: 0;
	margin: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/* custom */
.control {
	/*background-color: black;*/
	position: absolute;
	top: 0;
	right: 0;
	width: 150px;
	height: 100vh;
	z-index: 1;
}

nav {
	font-family: 'VT323', monospace;
	font-size: 25px;
	font-style: normal;
	line-height: 12px;
	text-align: center;
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
}

nav ul {
	list-style: none;
	position: relative;
	/*display: inline-table;*/
}

nav ul:after {
	content: "";
	clear: both;
	display: block;
}

nav ul li {
	margin: -1px 2px;
	border: 1px solid white;
	border-radius: 0px;
	float: left;
	margin: 5px;
}

nav ul li a {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 30px;
	padding: 3px 8px;
	color: white;
	text-decoration: none;
}

nav ul li:hover {
	background: none;
}

nav > ul > li >a:hover {
	color: black;
	background: white;
}

nav ul ul {
	border-radius: 0px;
	padding: 0 0px;
	position: absolute;
	top: 100%;
	margin-left: -95px;
}

nav ul ul li {
	float: none;
	border: 1px solid white;
	border-radius: 0px;
	position: relative;
}

nav ul ul li a {
	color: white;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 30px;
	text-decoration: none;
}

nav ul ul li a:hover {
	background: white;
	color: black;
}

#speaker{
    margin: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.fab {
	border: 0px;
	width:60px;
	height:60px;
	background-color: #1f558b;
	color:#FFF;
	border-radius:50px;
	text-align:center;
}

.fab:hover {
	background-color: white;
	color: black;
}

.fab:active {
	background-color: #e05454;
	color: white;
}

.fab:focus {outline:0;}


#speechMessage {
	position: absolute;
    bottom: 100px;
    right: 0;
    margin: 20px;
}

#speechMessage2 {
    text-align: center;
    position: relative;
    margin-top: 24px;
}

#speechMessage2 i{
    position: relative;
    top: 7px;
    right: 3px;
}

#speechMessage2 p,
#speechMessage p {
	font-family: 'VT323', monospace;
	font-size: 25px;
    display: inline;
}

#info_upgrade{
	visibility: hidden;
}

.search-container{
	position: absolute;
	width: 100%;
    height: 400px;
	top: 0;
	left: 0;
    z-index: 10;
}

.search-box{
    margin-top: 50px;
    position: relative;
    text-align: center;
}

.search-input{

    background: #ffffff87;
    border: 1px #292929 solid;
    border-radius: 8px;
    padding: 10px 30px;

    font-size: 32px;
    font-family: 'Work Sans', sans-serif;
}

.search-input:focus, .search-input:focus{
    outline: none;
}
#input_img {
    position: relative;
    top: 3px;
    left: -45px;
    width: 10px;
    height: 10px;

    color: #1e1e1e;
    font-size: 28px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Work Sans', sans-serif;
    color: #373737;
}
input::-webkit-calendar-picker-indicator {
    display: none;
}
#words {

}