body {
	background-color: #000;
	color: #888;
	font-family: Helvetica;
	line-height: 26px;
	margin: 0px;
	overflow: hidden;
}

h1 {
	color: #fff;
	margin: 8px;
}

a {
	color: #48f;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

#container {
	box-sizing: border-box;
	height: 100%;
	left: 0;
	margin: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/* custom */
.fab-speaker {
	/*background-color: black;*/
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
}

.fab-feedback {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 20px;
}

#speaker{
    margin: 20px;
	float: right;
}

.fab {
	border: 0px;
	width:60px;
	height:60px;
	background-color: #1f558b;
	color:#FFF;
	border-radius:50px;
	text-align:center;
}

.fab-primary {
    background-color: #1f558b;
    color:#FFF;
}

.fab-alternative {
    background-color: #1f558b;
    color:#FFF;
}

.fab:hover {
	background-color: white;
	color: black;
}

.fab:active {
	background-color: #e05454;
	color: white;
}
.fab-alternative:hover {
    background-color: #2b7e8b;
    color:#FFF;
}
.fab-alternative:active  {
    background-color: white;
    color:black;
}
.fab:focus {outline:0;}


.banner-container {
    position: absolute;
    z-index: 10;
}
.banner-image {
    transform :translateX(-36px);
    width: 72px;
}

@media screen and (max-device-width: 600px) {
    .banner-container {
        left: 50%;
        bottom: 0;
        text-align: center;
    }
}
@media screen and (min-device-width: 601px) {
    .banner-container {
        top: 10px;
        right: 10px;
        text-align: left;
    }
    .banner-image {
        transform: translateX(0px);
        width: 72px;
    }
}



#speechMessage {
	position: absolute;
    bottom: 100px;
    right: 0;
    margin: 20px;
}

#speechMessage2 {
    text-align: center;
    position: relative;
    margin-top: 24px;
}

#speechMessage2 i{
    position: relative;
    top: 7px;
    right: 3px;
}

#speechMessage2 p,
#speechMessage p {
	font-family: 'VT323', monospace;
	font-size: 25px;
    display: inline;
}

#info_upgrade{
	visibility: hidden;
}

.search-container{
	position: absolute;
	width: 100%;
    height: 400px;
	top: 0;
	left: 0;
    z-index: 10;
}

.search-box{
    margin-top: 50px;
    position: relative;
    text-align: center;
}

.search-input{

    background: #ffffff87;
    border: 1px #292929 solid;
    border-radius: 8px;
    padding: 10px 30px;

    font-size: 32px;
    font-family: 'Work Sans', sans-serif;
}

.search-input:focus, .search-input:focus{
    outline: none;
}
#input_img {
    position: relative;
    top: 3px;
    left: -45px;
    width: 10px;
    height: 10px;

    color: #1e1e1e;
    font-size: 28px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Work Sans', sans-serif;
    color: #373737;
}
input::-webkit-calendar-picker-indicator {
    display: none;
}
#words {

}

/* INPUT TEXT */
.feedback-input{
    border:2px solid rgba(100, 110, 255, 0.5);
    font-size:1.25em;
    padding:.25em .5em .3125em;
    color: rgba(100, 110, 255, 0.5);
    border-radius:.25em;
    background:transparent;
    transition:all .100s;
}
.feedback-button{
    background-color: rgba(100, 110, 255, 1);
    font-size:1em;
    padding:.25em .5em .3125em;
    color: rgba(255, 243, 248, 1);
    border-radius:.25em;
    transition:all .100s;
    text-decoration: none;
    border: none;
    font-family: 'Work Sans', sans-serif;
    -moz-box-shadow: #383f8e 0 6px, #646eff 0 6px 5px;
    -webkit-box-shadow: #383f8e 0 6px, #646eff 0 6px 5px;
    box-shadow: #383f8e 0 6px, #646eff 0 6px 5px;
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
}
.feedback-button:focus{
    outline: none;
}
.feedback-button:hover {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -moz-box-shadow: #383f8e 0 5px, #646eff 0 5px 3px;
    -webkit-box-shadow: #383f8e 0 5px, #646eff 0 5px 3px;
    box-shadow: #383f8e 0 5px, #646eff 0 5px 3px;
}
.feedback-button:active {
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    box-shadow: none;
}
.container-input {
    text-align: left;
    padding: 10px 20px;
}